body{
	background: lightgray !important;
}
h2{
	color:white;
}
.descrip{
	color:#FFC62A !important;
}

.texto{
  color:white !important;
}

h3{
	color:lightgray;
}

.progress{
  margin-bottom: 0px !important;
  display: none;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-default{
  background-color:grey;
  /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);*/
  border: 0px;
}

.navbar-default .navbar-nav > li > a{
  color: white;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a:hover{
  color: lightgrey;
}

.navbar-collapse.collapse.in,.navbar-collapse.collapsing{
  border:0px;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}

.tabla-txt td.text {
    max-width: 177px;
}
.tabla-txt td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.tabla-txt {
  table-layout:fixed;
  text-overflow: ellipsis;
}

.table-txt td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-body {
    max-height: calc(100vh - 20px);
    overflow-y: auto;
}

#modalTxtDespro{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textoAzul td{
  color: blue;
}

.textoVerde td{
  color: green;
}