<?xml version='1.0' encoding='utf-8'?>
<widget id="cl.oliver.ventasbyf" version="1.2.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>precios</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
    </feature>
    <plugin name="com.phonegap.plugins.sqlite" spec="https://github.com/Antair/Cordova-SQLitePlugin" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference default="27.+" name="ANDROID_SUPPORT_V4_VERSION" />
    <framework src="com.android.support:supportv4:$ANDROID_SUPPORT_V4_VERSION" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="android-build-tool" value="gradle" />
    <plugin name="cordova-plugin-file" spec="^7.0.0">
        <variable name="ANDROIDX_WEBKIT_VERSION" value="1.4.0" />
    </plugin>
    <plugin name="es6-promise-plugin" spec="^4.2.2" />
    <plugin name="cordova-plugin-filechooser" spec="https://github.com/ihadeed/cordova-filechooser.git" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
    <plugin name="cordova-plugin-ftp" spec="^1.2.1" />
    <plugin name="cordova-plugin-x-socialsharing-android12" spec="^6.0.5" />
    <engine name="android" spec="^11.0.0" />
</widget>
