<?xml version='1.0' encoding='utf-8'?>
<widget id="cl.dimeiggs.precios" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>precios</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://200.75.24.75/*" />
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
    </feature>
    <plugin name="phonegap-plugin-barcodescanner" />
    <plugin name="com.phonegap.plugins.sqlite" spec="https://github.com/Antair/Cordova-SQLitePlugin" />
    <plugin name="cordova-plugin-whitelist@1.3.2" />
    <plugin name="cordova-plugin-file-transfer" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="android-build-tool" value="gradle" />
</widget>